/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  line-height: 1.5;
}
.Home {
  background-color: rgb(7, 22, 76);
  text-align: center;
  padding: 30px;
  /* width: 100%; */
}
a {
  font-size: 25px;
  color: green;
  padding: 10px;
}
h1 {
  text-align: center;
  font-size: 30px;
  padding: 32px 180px;
}
hr {
  width: 500px;
  border-style: dashed;
  margin: 32px auto;
  width: 660px;
}
h2 {
  font-size: 36px;
  text-align: center;
  margin: 32px 0;
}
main {
  margin: 0 400px;
}
.box {
  width: 200px;
  height: 200px;
  background-color: rgb(154, 216, 201);
  margin: 0 auto;
  border: 20px solid rgb(88, 115, 226);
  outline: 5px solid black;
  box-shadow: 0 0 0 30px rgb(144, 254, 169);
  border-radius: 1px;
}
.marker-container {
  text-align: center;
  margin-top: 60px;
}
.circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  margin: 12px;
}
.content {
  background-color: rgb(154, 216, 201);
}
.padding {
  background-color: black;
}
.border {
  background-color: rgb(144, 254, 169);
}
.margin {
  background-color: rgb(88, 115, 226);
}
.container {
  width: 660px;
  border: 2px solid black;
  margin: 24 auto;
  font-size: 0;
}
.child-box {
  width: 200px;
  height: 180px;
  margin: 10px;
  background-color: rgb(218, 224, 250);
  display: inline-block;
}
.outline {
  border: 1px solid black;
  box-sizing: border-box;
}
